.fan-wrapper {
  position: relative;
  display: inline-block;
  perspective: 1000px;
}

.fan-card {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.75s ease-in-out;
}

.fan-layer-0,
.fan-layer-1,
.fan-layer-2 {
  transform-origin: bottom right;
}

.fan-layer-3,
.fan-layer-4,
.fan-layer-5 {
  transform-origin: top left;
}

.main-card {
  position: relative;
  z-index: 4;
}

.fan-layer-0,
.fan-layer-1,
.fan-layer-2,
.fan-layer-3,
.fan-layer-4,
.fan-layer-5 {
  transform: rotate(0deg);
  opacity: 0;
}

.fan-wrapper:hover .fan-layer-0 {
  transform: rotate(12deg);
  opacity: 1;
  z-index: 3;
}

.fan-wrapper:hover .fan-layer-1 {
  transform: rotate(8deg);
  opacity: 1;
  z-index: 3;
}

.fan-wrapper:hover .fan-layer-2 {
  transform: rotate(4deg);
  opacity: 1;
  z-index: 2;
}

.fan-wrapper:hover .fan-layer-3 {
  transform: rotate(12deg);
  opacity: 1;
  z-index: 1;
}

.fan-wrapper:hover .fan-layer-4 {
  transform: rotate(8deg);
  opacity: 1;
  z-index: 1;
}

.fan-wrapper:hover .fan-layer-5 {
  transform: rotate(4deg);
  opacity: 1;
  z-index: 1;
}

.fan-wrapper:hover .main-card {
  transform: rotate(0deg);
}
