@import './iconfont.css';
@import './shiki.css';
@import './markdown.css';
@import './signature.css';
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Noto+Serif+SC:wght@200..900&display=swap');

::selection {
  background-color: theme('colors.accent');
  color: white;
}

[data-theme='dark'] ::selection {
  background-color: theme('colors.accent/0.3');
}

html {
  color: theme('textColor.primary');
  background-color: theme('backgroundColor.root');
  scroll-padding-top: 64px;
  font-family: 'Noto Serif SC', serif;
}

* {
  scrollbar-width: thin;
}
