@import './iconfont.css';
@import './shiki.css';
@import './markdown.css';
@import './signature.css';

@font-face {
  font-family: 'Noto Serif';
  src: url('https://worker.stellarlane2.workers.dev/public/fonts/NotoSerifSC-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('https://worker.stellarlane2.workers.dev/public/fonts/NotoSerifSC-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Go Mono';
  src: url('https://worker.stellarlane2.workers.dev/public/fonts/GoMono.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Go Mono';
  src: url('https://worker.stellarlane2.workers.dev/public/fonts/GoMono-Italic.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

::selection {
  background-color: theme('colors.accent');
  color: white;
}

[data-theme='dark'] ::selection {
  background-color: theme('colors.accent/0.3');
}

html {
  color: theme('textColor.primary');
  background-color: theme('backgroundColor.root');
  scroll-padding-top: 64px;
  font-family: 'Noto Serif', serif;
}

* {
  scrollbar-width: thin;
}
