@import './iconfont.css';
@import './shiki.css';
@import './markdown.css';
@import './signature.css';

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('/fonts/MapleMono.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('/fonts/MapleMono-Italic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

::selection {
  background-color: theme('colors.accent');
  color: white;
}

[data-theme='dark'] ::selection {
  background-color: theme('colors.accent/0.3');
}

html {
  color: theme('textColor.primary');
  background-color: theme('backgroundColor.root');
  scroll-padding-top: 64px;
  font-family: 'Noto Serif', serif;
}

html.gray {
  filter: grayscale(1);
}

* {
  scrollbar-width: thin;
}
