.animated-signature path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  fill: transparent;
  animation: drawSignature 16s linear infinite both;
  stroke-width: 1px;
  stroke: theme('textColor.primary');
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 1200;
  }

  70% {
    fill: transparent;
  }

  70%,
  85% {
    stroke-dashoffset: 0;
    fill: theme('textColor.primary');
  }

  85%,
  to {
    stroke-dashoffset: 1200;
    fill: transparent;
  }
}
