---
import GalleryLayout from '@/layouts/GalleryLayout.astro'
import 'animate.css'
---

<GalleryLayout title="PreciousDaily" title_cn="平凡即是喜乐">
  <div class="flex flex-col items-center justify-center max-w-[800px] mx-auto h-full"></div>
</GalleryLayout>
