---
import Highlight from '@/components/Highlight.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { Cover } from '@/components/gallery/Cover'
import { SecretCover } from '@/components/gallery/SecretCover'
import 'animate.css'
---

<PageLayout title="图集">
  <div class="max-w-[800px] mx-auto px-4 py-32 h-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-32">
      <div class="space-y-4">
        <div class="flex items-center h-full justify-center select-none">
            <Cover imgSrc='/gallery/daily/cover.webp' />
        </div>
      </div>
      <div class="hidden md:block space-y-4">
        <div class="flex items-center h-full justify-center text-sm select-none"><SecretCover imgSrc='/gallery/cd/cover.png' client:load/></div>
      </div>
    </div>
  </div>
</PageLayout>