---
import Highlight from '@/components/Highlight.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import RoundedRect from '@/components/gallery/cover.astro'
import 'animate.css'
---

<PageLayout title="图集">
  <div class="max-w-[800px] mx-auto px-4 py-16 h-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- 左列 -->
      <div class="space-y-4">
        <div class="flex items-center h-full justify-center">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <RoundedRect color="bg-accent/50" />
          </a>
        </div>
        <div class={`py-4 flex justify-center text-2xl font-extrabold`}>
          <Highlight class={`animate__animated animate__fadeInUp animate__faster`}
            >Precious Daily</Highlight
          >
        </div>
      </div>

      <!-- 右列 -->
      <div class="hidden md:block space-y-4">
        <div class="flex items-center h-full justify-center">qwq</div>
      </div>
    </div>
  </div>
</PageLayout>